0 2 * * * mysqldump --defaults-file=$HOME/laboralsalud/backup.cnf laboralsalud > $HOME/laboralsalud/laboralsalud.sql.bkp 2>> $HOME/laboralsalud/laboralsalud_cron.log

0 3 * * * ~/webapps/laboralsalud/apache2/bin/restart