backports.csv==1.0.7
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
defusedxml==0.6.0
diff-match-patch==20181111
Django==1.11
django-bootstrap3==11.1.0
django-bootstrap4==1.0.1
django-chosen==0.1
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-easy-pdf==0.1.1
django-extensions==2.2.1
django-fm==0.2.5
django-import-export==1.2.0
et-xmlfile==1.0.1
html5lib==1.0b10
httplib2==0.14.0
jdcal==1.4.1
localflavor==1.8
MarkupPy==1.14
mysqlclient==1.3.7
odfpy==1.4.0
openpyxl==2.6.4
pbr==5.4.4
Pillow==6.2.1
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
reportlab==3.5.32
six==1.11.0
soupsieve==1.9.3
sqlparse==0.3.0
stevedore==1.31.0
tablib==0.14.0
typing==3.7.4
ucsv==0.1
unicodecsv==0.14.1
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
webencodings==0.5.1
xhtml2pdf==0.2
xlrd==1.2.0
xlwt==1.3.0

