{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

<div id="form-container">
    <form role="form" class="form " method="POST" action="" id="form-alta" enctype="multipart/form-data">
     {% csrf_token %}         
        {{ form.media }}
        <div class="col-xs-12">
	         	<div class="row">										
					<div class="col-sm-3">{{form.codigo|as_crispy_field}}</div>																		  
					<div class="col-sm-9">{{form.patologia|as_crispy_field}}</div>																		  
			  	</div>								
		</div>
    </form>
</div>