{% load static from staticfiles %}
{% load humanize %} 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ titulo_ventana }}</title>
    <link rel="stylesheet" href="{% static 'css/reportes_factura.css' %}" type="text/css" />
    <style type="text/css">
         @page {
             margin: 3cm 0.5cm 1cm 0.5cm;
             padding: 0;
             background-image:url({% static 'img/contenido.jpg' %});
             @frame footer {
                            -pdf-frame-content: page-footer;
                            bottom: 0cm;
                            height: 1 cm;
                            margin-right: 0.5cm;
                            margin-left: 0.5cm;
                        }
         }
    </style>
</head>

<body>
   <table width="100%" align="center" >
        <tr>
          <td  class="nombre_cpb">REPORTE INDICADORES MENSUAL<br><label class="subtitulo"> (los datos son extraídos de la última actualización enviados por RRHH)</label></td>
        </tr>
       <tr>
          <td  class="nombre_cpb">{{titulo_reporte}}</td>
        </tr>
  </table>  
  <table class="tabla" width="100%" border="0" cellspacing="0">
    <tr>
      <td width="70%">
        <img src="{{ aus_tot_image }}"  >
      </td>
      <td width="30%" class="centered">
        <table class="borde_reportes" width="90%">
          <thead >
            <tr>
                <th  class="tabla_header" colspan="2">AUSENTISMO TOTAL <br><label class="letra_cod">(inculpable, cuidado familiar y art)</label></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td  class="titulo" width="80%">Días caídos</td><td class="dato texto_der" width="20%">{{aus_total.dias_caidos_tot|default_if_none:0}}</td>
            </tr>
            <tr>
              <td class="titulo">Cantidad de Empleados</td><td class="dato texto_der">{{aus_total.empleados_tot|default_if_none:0}}</td>
            </tr>
            <tr>
              <td  class="titulo">Días laborables del período</td><td class="dato texto_der">{{aus_total.dias_laborables|default_if_none:0}}</td>
            </tr>
          </tbody>
        </table>
      </td>


    {% if aus_inc %}
    </tr>
        <tr>
        <td >
          <img src="{{ aus_inc_image }}"  >
        </td>
        <td class="centered">
          <table class="borde_reportes" width="90%">
            <thead >
              <tr>
                <th  class="tabla_header" colspan="2">AUSENTISMO INCULPABLE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td  class="titulo" width="80%">Días caídos</td><td class="dato texto_der" width="20%">{{aus_inc.dias_caidos_tot|default_if_none:0}}</td>
              </tr>
              <tr>
                <td class="titulo">Cantidad de Empleados</td><td class="dato texto_der">{{aus_inc.empleados_tot|default_if_none:0}}</td>
              </tr>
              <tr>
                <td  class="titulo">Días laborables del período</td><td class="dato texto_der">{{aus_inc.dias_laborables|default_if_none:0}}</td>
              </tr>          
            </tbody>
          </table>
        </td>
      </tr>
       <tr></tr>
      <tr>
        <td >
          <img src="{{ aus_inc2_image }}" >
        </td>
        <td class="centered">
          <table class="borde_reportes" width="90%">
            <thead >
              <tr>
                <th  class="tabla_header" colspan="2">AUSENTISMO INCULPABLE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="titulo" width="80%">Agudos (<30 días)</td><td class="dato texto_der" width="20%">{{aus_inc.porc_agudos|default_if_none:0}}%</td>
              </tr>
              <tr>
                <td class="titulo">Crónicos (>=30 días)</td><td class="dato texto_der">{{aus_inc.porc_cronicos|default_if_none:0}}%</td>
              </tr>
            </tbody>
          </table>
        </td>
    {% endif %}
     {% if empl_mas_faltadores or aus_grp_image %}
      <tr>  </tr>
         <tr>
        <td valign="top" height="100%">
          <table class="borde_reportes" width="100%" height="100%">
            <thead >
              <tr>
              <th  class="tabla_header" >AUSENTISMO x GRUPO PATOLÓGICO</td>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="{{ aus_grp_image }}" ></td>
              </tr>
            </tbody>
            </table>
        </td>
        <td valign="top" height="100%">
          <table class="borde_reportes" height="100%" width="90%">
            <thead >
              <tr>
                  <th  class="tabla_header" colspan="2">TOP AUSENCIAS EMPLEADOS </td>
            </tr>
            <tr>
              <th  class="tabla_header letra_cod" width="85%">(desde {{ inicio_anio|date:'d/m/Y' }})</th><th  class="tabla_header texto_der" width="15%">Días</th>
            </tr>
          </thead>
          <tbody>
            {% for e in empl_mas_faltadores %}
              <tr>
                <td class="texto_pequenio_tabla">{{ e.empl_nombre|default_if_none:''|truncatechars:50 }}</td>
                <td class="texto_der">{{ e.dias|default_if_none:'0' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
      </tr>
    {% endif %}
    </tr>
{% if ausentismo_inc_gerencia_image or  ausentismo_inc_sector_image or aus_empl_x_edad_image %}
       {% if ausentismo_inc_gerencia_image %}

        <tr>
        <td>
          <img src="{{ ausentismo_inc_gerencia_image }}" >
        </td>
        <td class="centered">
          <table class="borde_reportes" width="90%">
            <thead >
              <tr>
                <th  class="tabla_header" colspan="2">AUSENTISMO INCULPABLE x GERENCIA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td  class="titulo" width="80%">Días caídos</td><td class="dato texto_der" width="20%">{{aus_inc.dias_caidos_tot|default_if_none:0}}</td>
              </tr>
              <tr>
                <td class="titulo">Cantidad de Empleados</td><td class="dato texto_der">{{aus_inc.empleados_tot|default_if_none:0}}</td>
              </tr>
              <tr>
                <td  class="titulo">Días laborables del período</td><td class="dato texto_der">{{aus_inc.dias_laborables|default_if_none:0}}</td>
              </tr>
                <tr>
                <td  class="titulo">Tasa Inculpable Total</td><td class="dato texto_der">{{tasa_aus_tot_gerencia|default_if_none:0}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      {% endif %}
    {% if ausentismo_inc_sector_image %}
        <tr>  </tr>
        <tr>
        <td >
          <img src="{{ ausentismo_inc_sector_image }}" >
        </td>
        <td class="centered">
          <table class="borde_reportes" width="90%">
            <thead >
              <tr>
                <th  class="tabla_header" colspan="2">AUSENTISMO INCULPABLE x SECTOR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td  class="titulo" width="80%">Días caídos</td><td class="dato texto_der" width="20%">{{aus_inc.dias_caidos_tot|default_if_none:0}}</td>
              </tr>
              <tr>
                <td class="titulo">Cantidad de Empleados</td><td class="dato texto_der">{{aus_inc.empleados_tot|default_if_none:0}}</td>
              </tr>
              <tr>
                <td  class="titulo">Días laborables del período</td><td class="dato texto_der">{{aus_inc.dias_laborables|default_if_none:0}}</td>
              </tr>
                <tr>
                <td  class="titulo">Tasa Inculpable Total</td><td class="dato texto_der">{{tasa_aus_tot_sector|default_if_none:0}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      {% endif %}
    {% if aus_tot_empl_x_edad_image %}
        <tr>  </tr>
        <tr>
        <td>
          <img src="{{ aus_tot_empl_x_edad_image }}" >
        </td>
        <td class="centered">
          <table class="borde_reportes" width="90%">
            <thead >
              <tr>
                <th  class="tabla_header" colspan="2">AUSENTISMO x RANGO ETARIO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td  class="titulo" width="80%">Días caídos</td><td class="dato texto_der" width="20%">{{aus_total.dias_caidos_tot|default_if_none:0}}</td>
                </tr>
                <tr>
                  <td class="titulo">Cantidad de Empleados</td><td class="dato texto_der">{{aus_total.empleados_tot|default_if_none:0}}</td>
                </tr>
                <tr>
                  <td  class="titulo">Días laborables del período</td><td class="dato texto_der">{{aus_total.dias_laborables|default_if_none:0}}</td>
                </tr>
            </tbody>
          </table>
        </td>
      </tr>
      {% endif %}
    {% endif %}
  </table>

  <div id="page-footer">
    <table class="tabla" width="100%" border="0" cellspacing="0">
      <tr>
        <td width="90%" class="pie_sistema"><img alt="" class="pie_logo" src="{% static 'img/loguito.jpg' %}"/>&nbsp;&nbsp;Laboral Salud - {{fecha|date:'d/m/Y'}} </td>
        <td width="10%" class="pie_texto"><pdf:pagenumber /> de <pdf:pagecount/> </td>
      </tr>
    </table>
  </div>
{% if aus_acc %} 
  <pdf:nextpage/>      
  <table class="tabla" width="90%" border="0" cellspacing="0">    
    <tr>      
      <td >
        <table class="" width="100%" height="100%">                          
          <tbody>                      
              <tr>
              <td class="titulo_grafico" colspan="2"><p>AUSENTISMO ACCIDENTES</td>
            </tr>   
              <tr>
                <td width="75%"><img src="{{ aus_acc_image }}" ></td>
                <td width="25%">
                  <table class="borde_reportes">
                    <thead >
                      <tr>
                        <th  class="tabla_header" colspan="2">AUSENTISMO ART</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td  class="titulo" width="80%">Días</td><td class="dato" width="20%">{{aus_acc.dias_caidos_tot|default_if_none:0}}</td>
                      </tr>
                      <tr>
                        <td class="titulo">Cantidad de Empleados</td><td class="dato">{{aus_acc.empleados_tot|default_if_none:0}}</td>
                      </tr>
                      <tr>
                        <td  class="titulo">Días laborables</td><td class="dato">{{aus_acc.dias_laborables|default_if_none:0}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>                
              </tr>
          </tbody>
        </table>

      </td>
    
   
      
    </tr>
    <tr>
    </tr>     
    <tr>        
      <td>
        <table class="borde_reportes" width="100%" height="100%">                          
          <tbody>            
            <tr>
              <td width="100%"class="titulo_grafico"><p>DENUNCIA DE ACCIDENTES</td>
            </tr>            
              <tr>
                <td><img src="{{ aus_acc2_image }}" height="300" width="650" ></td>                
              </tr>
          </tbody>
        </table>

      </td>
    </tr>
    <tr>
    </tr>        
    <tr>   
      <td >
        <table class="borde_reportes" width="100%" height="100%">           
          <tbody> 
          <tr>
              <td width="100%" class="titulo_grafico">TIPO DE ACCIDENTES</th>
            </tr>                       
              <tr>
                <td><img src="{{ aus_acc3_image }}" height="300" width="650" ></td>                
              </tr>
          </tbody>
        </table>
      </td>
    </tr>
    

  </table>
    {% endif %}

</body>
</html>
