{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load humanize %}
{% block extra_js %}
<script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>
<script src="{% static 'js/exporting.js' %}" type="text/javascript"></script>
{% endblock extra_js %}
{% block breadcrumbs %}              
        <div class="breadcrumbs">
            Reporte Indicador Anual
        </div>
{% endblock breadcrumbs %}

{% block principal %}                            
<br>
    

<div class="col-md-12">   
  
<div class="barra_busqueda" id="barra_busqueda">
  <div class="panel panel-primary">
      <div class="panel-heading">
                      PARÁMETROS DE BÚSQUEDA
      </div> 
      <div class="panel-body">
              <div class="col-md-12">
               <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                  {% csrf_token %} 
                  <div class="barra_busqueda col-sm-12">                                    
                          <div class="col-sm-1">{% bootstrap_field form.fdesde  %}</div>                                
                          <div class="col-sm-1">{% bootstrap_field form.fhasta  %}</div>                                    
                          <div class="col-sm-3">{% bootstrap_field form.empresa  %}</div>                                    
                          <div class="col-sm-2">{% bootstrap_field form.tipo_ausentismo  %}</div>                            
                          <div class="col-sm-2">{% bootstrap_field form.trab_cargo  %}</div>                            
                          <div class="col-sm-3">{% bootstrap_field form.empleado  %}</div>                                            
                          <div class="col-sm-12"><button class="btn btn-xs btn-primary text-center pull-right" type="submit">Buscar</button></div>
                  </div>     
                  </form>         
              </div>
      </div>  
  </div>
</div>
                                                     
  <div class="row">  
    
      <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">PROGRESIÓN TASA DE AUSENTISMOS</div>
            <div class="panel-body">
             
               <div class="row">
                <div class="col-sm-12">
                     <div class="chart" style="padding: 0px; position: relative;"> 
                                <div id="grafico1" style="width: 100%; height: 100%; margin: 0 auto"></div>
                      </div>    
                </div>  
              </div>
                
            </div>
          </div>
          
      </div>
   
  </div>
           
</div>



<script type="text/javascript">
  
$(document).ready(function() {  
$.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
 $('.datepicker').datepicker({
        format: "dd/mm/yyyy",
        language: "es",
        autoclose: true,
        todayHighlight: true
  });

  $('.datepicker').each(function(){
      $(this).datepicker();
  });


  $("#id_empresa").chosen({
      no_results_text: "Empresa inexistente...",
      placeholder_text_single:"Seleccione una Empresa",
      allow_single_deselect: true,
  });


    $("#id_empresa").change(function(){
        var id =  $("#id_empresa").val();
        if (id =='') {id=0;};
        $('#cargando').show();
        $.getJSON('/recargar_empleados_empresa/'+id,{},
        function (c) {
            $("#id_empleado").empty().append('<option value="">Todos</option>');
            $.each(c["empleados"], function (idx, item) {
                jQuery("<option/>").text(item['nombre']).attr("value", item['id']).appendTo("#id_empleado");
            })
            $('#id_empleado').trigger("chosen:updated");  
            $("#id_empleado").trigger("change");          
        });      
        $('#cargando').hide();
    }); 

  
});      
jQuery(document).ready(function($) {       
Highcharts.chart('grafico1', {
 title: {
            text : null,
          },
    xAxis: {
              categories: {{ listado_meses|safe }},
              title: {
                    text: 'Mes/Año'
                },
                crosshair: true,                
                
          },
    yAxis: {
                min: 0,
                title: {
                    text: 'Tasa Ausentismo'
                },
                 
            },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom'
    },

    tooltip: {
        shared: true,
        crosshairs: true
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            marker: {
                lineWidth: 1
            }
          
        }
    },

    series: [{
        name: 'Tasa x Inculpables',
        data: {{inculpables|safe}}
    }, {
        name: 'Tasa x Accidente',
        data: {{accidentes|safe}}
    }, {
        name: 'Tasa x Enfermedad Profesional',
        data: {{enfermos|safe}}
    }, ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
});


</script>

{% endblock principal %}





