{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load humanize %}
{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/comprobantes.css'%}" type="text/css" >  
{% endblock %}

<div class="modal-dialog modal-modal">
  <div class="modal-dialog modal-content cabecera"> 
        <div class="modal-wrapper">
               <div class="col-sm-12">
                 <div data-dismiss="modal" class="close-modal"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button></div>
                 <div class="modal-head">CAMBIAR CONTRASEÑA</div>
                <div class="modal-body">
                    <form method="post" class="login-form" autocomplete="off" accept-charset="UTF-8" role="form" id="cambio_pass">
                          {% csrf_token %}			
                           <div class="row">
                            <div class="col-sm-6">{% bootstrap_field form.new_password  %}</div>
                            
                            <div class="col-sm-6">{% bootstrap_field form.reenter_password %}</div>
                            </div>                                      
          									     {% if messages %}
          						              {% for message in messages %}
          						                 <div class="alert alert-danger alert-dismissible" role="alert">
          						                   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>{{ message }}</strong>
          						                 </div>
          						              {% endfor %}
          						           {% endif %}
											   	
                </div>
                <div class="modal-buttons">
                        <div class="row">
                              	<div class="col-xs-6">
                                  <button data-dismiss="modal" class="btn btn-sm pull-left btn btn-danger" type="button">
                                      <i class="fa fa-times"></i>
                                      Cancelar
                                  </button>

                                </div>
                                <div class="col-xs-6">                                  
                                  <button class="btn pull-right btn-sm btn-primary" id="AceptarPasswd" type="button"><i class="fa fa-check"></i> Guardar</button>
                                </div>
                                
                        </div>
                </div>
                    </form>
              </div> 
            
        </div>   
  </div>   

</div>