{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}


  <div id="form-container">
    <form role="form" autocomplete="off" class="form " method="POST" action="" id="form-ent">
     {% csrf_token %}         

	        <fieldset>
	        <legend> DATOS GENERALES </legend>
	        <div class="col-xs-12">
	        	<div class="row cerca">
	             <div class="col-sm-3 col-xs-12">
	                 {{form.codigo|as_crispy_field}}
	             </div>
	             <div class="col-sm-9 col-xs-12">
	                 {{form.apellido_y_nombre|as_crispy_field}}
	             </div>         
		        </div>
		        <div class="row cerca">
	             <div class="col-sm-4 col-xs-12">
	                 {{form.cuit|as_crispy_field}}
	             </div>
	             <div class="col-sm-4 col-xs-12">
	                 {{form.nro_doc|as_crispy_field}}
	             </div>         
	             <div class="col-sm-4 col-xs-12">
	                 {{form.especialidad|as_crispy_field}}
	             </div> 
		        </div>
		        <div class="row cerca">	             
	             <div class="col-sm-12">
	                 {{form.domicilio|as_crispy_field}}
	             </div>
	            </div>
	            <div class="row cerca">
	             <div class="col-sm-4 col-xs-12">
	                 {{form.telefono|as_crispy_field}}
	             </div>
	             <div class="col-sm-4 col-xs-12">
	                 {{form.celular|as_crispy_field}}
	             </div>         
	             <div class="col-sm-4 col-xs-12">
	                 {{form.email|as_crispy_field}}
	             </div> 
		        </div> 
	            <div class="row cerca">
	             <div class="col-sm-4 col-xs-12">
	                 {{form.cod_postal|as_crispy_field}}
	             </div>
	             <div class="col-sm-4 col-xs-12">
	                 {{form.localidad|as_crispy_field}}
	             </div>         
	             <div class="col-sm-4 col-xs-12">
	                 {{form.provincia|as_crispy_field}}
	             </div> 
		        </div> 
	            <div class="row cerca">	      
	             <div class="col-sm-12">
	                 {{form.observaciones|as_crispy_field}}
	             </div>
	            </div>           
	        </div>           
	         </fieldset>        
       
		     	   	
				{% if form.non_field_errors  %}
		     	<script type="text/javascript">
		     	alertify.errorAlert("{% for err in form.non_field_errors %}{{ err|safe }}{% endfor %}");
		     	</script>
		    {% endif %}       	        
	        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}	       
<div class="modal-buttons">
    <div class="row">
        <div class="col-xs-6">
         <button data-dismiss="modal" class="btn btn-xs pull-left btn btn-danger" type="button">
              <i class="fa fa-times"></i> {% trans 'Cancelar' %}
         </button>
        </div>
        <div class="col-xs-6">
         <button  class="btn pull-right btn-xs btn-primary" id="AceptarEnt" type="button">
              <i class="fa fa-check"></i>{% trans 'Aceptar' %}</button>
        </div>
      
      </div>
    
</div>


</form>	
</div>
{% block scripts_js %}
 <script src="{% static 'js/scripts/entidades.js' %}" type="text/javascript"></script>
{% endblock %}