{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}


<div id="form-container">
    <form role="form" class="form abm" autocomplete="off" method="POST" action="" id="form-alta">
     {% csrf_token %}
    <div class="row cerca">
        <div class="col-xs-12">
            <div class="col-sm-3">
            <div class="row cerca">
                <div class="col-sm-6">{{form.fecha|as_crispy_field}}</div>
            </div>
            <div class="row cerca">
                <div class="col-sm-12">{{form.tipo_control|as_crispy_field}}</div>
            </div>
            <div class="row cerca">
                <div class="col-sm-6">{{form.aus_fcrondesde|as_crispy_field}}</div>
                <div class="col-sm-6">{{form.aus_fcronhasta|as_crispy_field}}</div>
            </div>
        </div>
        <div class="col-sm-9">
            {{form.detalle|as_crispy_field}}
        </div>
        </div>
    </div>
		 {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}	       
</div>
<div class="modal-buttons">
    <div class="row">
        <div class="col-xs-6">
         <button data-dismiss="modal" class="btn btn-xs pull-left btn btn-danger" type="button">
              <i class="fa fa-times"></i> {% trans 'Cancelar' %}
         </button>
        </div>
        <div class="col-xs-6">
         <button  class="btn pull-right btn-xs btn-primary" id="Aceptar" type="button" 
            onclick="this.disabled=true;$('#form-alta' ).submit();">
              <i class="fa fa-check"></i>{% trans 'Aceptar' %}</button>
        </div>
      
      </div>
    
</div>
</form>	
<script type="text/javascript">
    $.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
 $('.datepicker').datepicker({
          format: "dd/mm/yyyy",
          language: "es",
          autoclose: true,
          todayHighlight: true
    });

</script>

