{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

<div id="container" style="width: 100%; height: 100%; margin: 0 auto">
  <div class="table-responsive">
      <table width="100%" id="fcontrol" style="display:none;" class="table table-striped table-hover table-no-bordered tabla_nueva text-nowrap">         
  <thead >
      <tr>
          <th class="no-sort text-center" data-priority="1">#</th>
          <th class="imprimir" data-priority="2">F.Próx.Control</th>
          <th class="imprimir" data-priority="2">F.Control</th>
          <th class="imprimir" data-priority="8">F.Desde</th>
          <th class="imprimir" data-priority="9">F.Hasta</th>
          <th class="imprimir" data-priority="7">Días Caídos</th> 
          <th class="imprimir" data-priority="2">Documento</th>
          <th class="imprimir" width="150" data-priority="3">Apellido y Nombre</th>
          <th class="imprimir" width="100" data-priority="5">Empresa</th>
          <th class="imprimir" data-priority="6">Tipo Ausentismo</th>
          <th class="imprimir" width="100" data-priority="10">Patología</th>
          <th class="imprimir" width="100" data-priority="11">Diagnóstico</th>
      </tr>
  </thead>
  <tbody>
      {% for a in fechas_control %}
      <tr>    
          <td class="text-center">
            <a href="{% url 'ausentismo_detalles' id=a.pk %}" class="modal-detail" data-modal-head="DETALLE AUSENTISMO" title="Ver Detalle"><i class="fa fa-list-alt text-primary"></i></a>
          </td>
          <td>{{ a.get_proxcontrol|date:'d/m/Y' }}</td>
          <td>{{ a.get_fcontrol|date:'d/m/Y' }}</td>
          <td>{{ a.get_fcrondesde|date:'d/m/Y' }}</td>               
          <td>{{ a.get_fcronhasta|date:'d/m/Y' }}</td>
          <td>{{ a.get_dias_caidos|default_if_none:'' }}</td>
          <td>{{ a.empleado.nro_doc|default_if_none:'' }}</td>
          <td title="{{ a.empleado.apellido_y_nombre|default_if_none:''}}"><strong>{{ a.empleado.apellido_y_nombre|default_if_none:''|truncatechars:60 }}</strong></a></td>
          <td title="{{ a.empleado.empresa|default_if_none:''}}">{{ a.empleado.empresa|default_if_none:''|truncatechars:60 }}</td>
          <td>{{ a.get_tipo_ausentismo_display|default_if_none:'' }}</td>                                   
          <td title="{{ a.aus_grupop|default_if_none:''}}">{{ a.aus_grupop|default_if_none:''|truncatechars:60 }}</td>               
          <td title="{{ a.aus_diagn|default_if_none:''}}">{{ a.aus_diagn|default_if_none:''|truncatechars:60 }}</td>               
      </tr>
      {% endfor %}
  </tbody>
  <tfoot>
      <tr>
          <th></th>
          <th></th>
          <th></th> 
          <th></th>
          <th></th> 
          <th></th>
          <th></th> 
          <th></th>  
          <th></th>                                
          <th></th>
          <th></th>
          <th></th>		                    
      </tr>
  </tfoot>		            
  
</table> 
  </div>
</div>

  
<script type="text/javascript">

$(document).ready(function() { 
   
moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 

var tabla = $('#fcontrol').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                 
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ãšltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": ".",                
            },                      
           
         "columnDefs": [ {
                  "targets"  : 'no-sort',
                  "orderable": false,
                }],          
           "paging":   false,
           "lengthMenu": [[20, 50, -1], [20, 50, "Todos"]],
           "autoWidth": false,
           "order": [],
           "colReorder": false,
           "searching": true,
            fixedHeader: {
              header: false,
              footer: false
              },
            responsive: false,            
            dom: '',
            PreDrawCallback:function(){
            $("#cargando").show();
            },
            initComplete: function () {
               // this.api().columns().every( function () {[0, 1, 9]                
                $("#fcontrol").show();
                  this.fnAdjustColumnSizing();
                $("#cargando").hide();
            },
            
        });




});
</script> 


