{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block main %}    
<div class="row cerca">
      <div class="col-xs-12">
        <fieldset>
          <legend>DATOS TURNO</legend>
          <table class="table table-striped table-hover table-condensed table-no-bordered tabla_detalle">
            <tbody>
              <tr>
                <td class="titulo">Empleado:</td><td colspan="3" id="art" class="dato">{{t.empleado|default_if_none:''}}</td>
              </tr>
              <tr>
                <td class="titulo">Fecha/Hora:</td><td id="nro_doc" class="dato">{{t.fecha|date:'d/m/Y'}} {{ t.hora|time:"H:i" }}hs</td>
                <td class="titulo">Detalle:</td><td id="art" class="dato">{{t.detalle|default_if_none:''}}</td>
              </tr>               
              <tr>
                <td class="titulo">Estado:</td><td id="fecha_nac" class="dato">{{t.get_estado_display|default_if_none:''}}</td>
                <td class="titulo">Empresa:</td><td id="legajo" class="dato">{{t.empresa|default_if_none:''}}</td>
              </tr>             
              <tr>
                <td class="titulo">Observaciones:</td><td colspan="3" id="art" class="dato">{{t.observaciones|default_if_none:''}}</td>
              </tr>
              <tr>
                <td class="titulo">Fecha Carga:</td><td id="nro_doc" class="dato">{{t.fecha_creacion|date:'d/m/Y'}}</td>
                <td class="titulo">Usuario Carga:</td><td id="art" class="dato">{{t.usuario_carga|default_if_none:''}}</td>
              </tr> 
            </tbody>
          </table>
        </fieldset>
      </div>
</div> 
</div>                                 

          
       
{% endblock main %}        

                               