{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n l10n %}
{% load humanize %}
{% load bootstrap3 %}

{% block extra_css %}
     
     <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet" type="text/css"/> 

{% endblock %}

{% block breadcrumbs %}              
        <div class="breadcrumbs">
            Listado de Turnos <small> carga e impresión</small>
        <button tittle="Búsqueda Avanzada" data-toggle="collapse" aria-expanded="true"  class="btn btn-xs btn-circle pull-right boton_busqueda" data-target="#barra_busqueda" aria-controls="barra_busqueda"><i class="glyphicon glyphicon-search"></i></button>
        </div>
{% endblock breadcrumbs %}
{% block cargando %}            
  <div id="cargando" class="cargando" >
    <span class="cargando-txt">CARGANDO...</span>
    <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
  </div>
{% endblock cargando %}

 {% block principal %}                            
<br>
<div class="collapse barra_busqueda" id="barra_busqueda">
          <div class="panel panel-primary">
              <div class="panel-heading"> PARÁMETROS DE BÚSQUEDA</div> 
              <div class="panel-body">
                      <div class="col-md-12">
                       <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                        {% csrf_token %}                                                                                     
                          <div class="col-sm-1">{% bootstrap_field form.fdesde  %}</div>                                
                          <div class="col-sm-1">{% bootstrap_field form.fhasta  %}</div>                                    
                          <div class="col-sm-3">{% bootstrap_field form.qempresa  %}</div>                          
                          <div class="col-sm-2">{% bootstrap_field form.qempleado  %}</div>
                          <div class="col-sm-1">{% bootstrap_field form.qestado  %}</div>      
                          <div class="col-sm-1"><button class="btn btn-xs text-center" type="submit">Buscar</button></div>                
                        </form>             
                      </div>
              </div>  
          </div>                  
        </div>   
<div class="col-sm-7 cerca">     
    <a class="btn btn-xs btn-primary modal-create" style="float:left;margin-right:20px;" href="{% url 'turnos_nuevo' %}" data-modal-head="AGREGAR TURNO" data-modal-callback="reload">Nuevo Turno</a>
    <table width="100%" id="turnos" style="display:none;" class="table table-striped compact table-hover table-no-bordered tabla_nueva text-nowrap">         
        <thead >
            <tr>
                <th>#</th>
                <th class="imprimir">Nº</th>
                <th class="imprimir">Fecha/Hora</th>
                <th class="imprimir">Empleado</th>
                <th class="imprimir">Empresa</th>
                <th class="imprimir">Estado</th>
                <th class="imprimir">Diagnóstico</th>
                <th class="imprimir">Observaciones</th>                                          
            </tr>
        </thead>
        <tbody>
            {% for t in turnos %}
            <tr 
             {% if t.baja %}
                class='danger'
             {% elif t.estado == 1 %}class='success'
             {% elif t.estado == 2 %}class='danger'
             {% endif %}>
                
                <td><div class="btn-group">
                      <button type="button" title="{{ t.pk|safe}}" class="btn btn-xs color_barra" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"> </i> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">                        
                        <li><a href="{% url 'turnos_detalles' id=t.pk %}" class="modal-detail" data-modal-head="DETALLE TURNO">
                            <i class=" icon-screen-desktop"></i> Detalle</a></li>                            
                            <li>
                        <li><a href="{% url 'turnos_editar' id=t.pk %}"  class="modal-update " title="Editar" data-modal-callback="reload" data-modal-head="EDITAR TURNO" data-modal-target="#object-{{ t.pk }}"><i class="icon-note"></i> Editar</a></li>
                        <li><a href="#" 
                                    onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA ELIMINAR EL REGISTRO ACTUAL?',transition:'fade','onok': function(){ window.location.href = '{% url 'turnos_eliminar' id=t.pk  %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('ELIMINAR'); alerta.show(); return true;" ><i class="glyphicon glyphicon-trash"></i>Eliminar</a>
                                </li>

                        <li class="divider"></li>
                        {% if t.estado != 1 %}
                        <li><a href="#" 
                                onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA MODIFICAR EL ESTADO DEL TURNO?',transition:'fade','onok': function(){ window.location.href = '{% url 'turnos_estado' id=t.pk estado=1  %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('ASISTENCIA'); alerta.show(); return true;" ><i class="icon-like"></i>Marcar Asistencia</a>
                        </li>
                        {% endif %}     
                        {% if t.estado != 2 %}
                        <li><a href="#" 
                                onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA MODIFICAR EL ESTADO DEL TURNO?',transition:'fade','onok': function(){ window.location.href = '{% url 'turnos_estado' id=t.pk estado=2  %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('NO ASISTENCIA'); alerta.show(); return true;" ><i class="icon-dislike"></i>Marcar Inasistencia</a>
                        </li>
                        {% endif %}
                        {% if t.estado != 0 %}
                        <li><a href="#" 
                                onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA MODIFICAR EL ESTADO DEL TURNO?',transition:'fade','onok': function(){ window.location.href = '{% url 'turnos_estado' id=t.pk estado=0  %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('DEJAR PENDIENTE'); alerta.show(); return true;" ><i class="icon-minus"></i>Marcar Pendiente</a>
                        </li>
                        {% endif %}         
                        
                      </ul>                                      
                    </div>
                </td>              
                
                <td><a href="{% url 'turnos_detalles' id=t.pk %}" class="modal-detail" title="Ver Detalle" data-modal-head="DETALLE TURNO">
                            <strong>{{ t.get_turno }}</strong></a></td>
                <td>{{ t.fecha|date:'d/m/Y' }} {{ t.hora|time:"H:i" }}hs</td>
                <td title="{{ t.empleado.apellido_y_nombre|default_if_none:''}}"><a href="{% url 'empleado_detalles' id=t.empleado.id %}"  class="modal-detail" data-modal-head="DETALLE EMPLEADO {{t.empleado.legajo}}" data-modal-callback="reload"><strong>{{ t.empleado.apellido_y_nombre|default_if_none:''|truncatechars:60 }}</strong></a></td>
                <td title="{{ t.empresa|default_if_none:''}}">{{ t.empresa|default_if_none:''|truncatechars:60 }}</td>
                <td>{{ t.get_estado_display|default_if_none:'' }}</td>
                <td title="{{ t.detalle|default_if_none:''}}">{{ t.detalle|default_if_none:''|truncatechars:60 }}</td>
                <td title="{{ t.observaciones|default_if_none:''}}">{{ t.observaciones|default_if_none:''|truncatechars:60 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th> 
                <th></th> 
                <th></th> 
                <th></th>                                
                <th></th>
                <th></th>
                <th></th>
                <th></th>                                                             
            </tr>
        </tfoot>
        
    </table> 
</div>
<div class="col-sm-5">   
<div id="calendar"></div>
</div>                  

{% endblock principal %}
{% block scripts_js %}     
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
 <script src="{% static 'js/fullcalendar.js' %}" type="text/javascript"></script>  
 <script src="{% static 'js/fullc.locale-all.js' %}" type="text/javascript"></script>  
 <script type="text/javascript">


$(document).ready(function () {

moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 
var tabla = $('#turnos').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                 
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ãšltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": ".",                
            },                      
           
         "columnDefs": [ {
                  "targets"  : 'no-sort',
                  "orderable": false,
                }],          
           "paging":   true,
           "lengthMenu": [[20, 50, -1], [20, 50, "Todos"]],
           "autoWidth": false,
           "order": [],
           "colReorder": true,
           "searching": true,
            fixedHeader: {
              header: true,
              footer: false
              },
            responsive: true,
            dom: 'Bfrtlip',
            buttons: [
                {
                    extend:    'colvis',
                    text:      '<i class="fa fa-list"></i>',
                    titleAttr: 'Ver/Ocultar',
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'copyHtml5',
                    text:      '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copiar',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    filename: 'TURNOS',                    
                    exportOptions: {  modifier: {
                                        page: 'current'
                                    }, 
                                      columns: '.imprimir',
                                      format: {
                                      body: function(data, row, column, node) {
                                        var floatVal = function (i) {
                                            if (typeof i === "number") {
                                                return i;
                                            } else if (typeof i === "string") {
                                                i = i.replace(/\$/g, "");
                    i = i.replace(/\,/g ,"");                    
                    i = i.replace(/\./g, "");
                                                var result = parseFloat(i)/100;
                                                // console.log(result);
                                                if (isNaN(result)) {
                                                    try {
                                                        var result = $jq(i).text();
                                                        result = parseFloat(result);
                                                        if (isNaN(result)) { result = 0 };
                                                        return result * 1;
                                                    } catch (error) {
                                                        return 0;
                                                    }
                                                } else {
                                                    return result * 1;
                                                }
                                            } else {
                                                alert("Unhandled type for totals [" + (typeof i) + "]");
                                                return 0
                                            }
                                        };
                                          data = $('<p>' + data + '</p>').text();
                                          return (node.className=='importe') ? floatVal(data)  : data;
                                      }
                                    }},
                    className: 'btnToolbar',     
                },
               
                {
                    extend:    'pdfHtml5',
                    text:      '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',footer: true,
                    exportOptions: { columns: '.imprimir'},
                    orientation: 'landscape',
                    className: 'btnToolbar',                    
                },
                {
                    extend: 'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Imprimir',
                    exportOptions: { columns: '.imprimir' },
                    className: 'btnToolbar',                    
                },
            ],
            PreDrawCallback:function(){
            $("#cargando").show();
            },
            initComplete: function () {
               // this.api().columns().every( function () {[0, 1, 9]
                this.api().columns([4,5]).every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">Todos</option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
     
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );
     
                     column.data().unique().sort().each( function ( d, j ) {
                    //column.cells('', column[0]).render('display').sort().unique().each( function ( d, j ){
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );

                $("#turnos").show();
                  this.fnAdjustColumnSizing();
                $("#cargando").hide();
            }
        });



$.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
 $('.datepicker').datepicker({
        format: "dd/mm/yyyy",
        language: "es",
        autoclose: true,
        todayHighlight: true
  });

     
         
$('#calendar').fullCalendar({
    header:{
                left: 'prev ',
                center: 'title',
                right: 'next'
            },
            locale: 'es',
            defaultView: 'month',
            editable: false,
            selectable: true,
            allDaySlot: false,
            themeSystem: 'bootstrap3',
            businessHours: true,
            
            weekends:false,
            eventOrder:'start',
            businessHours: {
                      // days of week. an array of zero-based day of week integers (0=Sunday)
                      dow: [ 1, 2, 3, 4,5,6 ], // Monday - Thursday

                      start: '07:00', // a start time (10am in this example)
                      end: '21:00', // an end time (6pm in this example)
                    },
    events: [
                {% for t in turnos %}
                    {
                        title: '{{t.get_turno}} - {{t.hora}}hs',
                        description: '{{t.detalle|default_if_none:''}}',
                        start: "{{ t.fecha|date:'Y-m-d' }}",
                        name: "{{t.empleado|default_if_none:''}}",
                        otro: "{{t.empresa|default_if_none:''}}",

                    },
                {% endfor %}
            ],
            eventRender: function (event, element) {       
        element.popover({
            title: event.title +' - '+event.otro,
            placement: 'right',
            trigger: "click",
            container:'body',
            html: true,
            content: 'Empelado: <b>' + event.name + '</b><br>Diagnóstico: <b>' + event.description+'</b>',
        });
    }

});
        
});
</script> 
{% endblock scripts_js %}



