{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n l10n %}
{% load humanize %}
{% load bootstrap3 %}
{% load filtros_especiales %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    Listado Ausentismos/Controles <small> carga e impresión</small>
    <button tittle="Búsqueda Avanzada" data-toggle="collapse" aria-expanded="true"  class="btn btn-xs btn-circle pull-right boton_busqueda" data-target="#barra_busqueda" aria-controls="barra_busqueda"><i class="glyphicon glyphicon-search"></i></button>
  </div>
{% endblock breadcrumbs %}
{% block cargando %}
  <div id="cargando" class="cargando" >
    <span class="cargando-txt">CARGANDO...</span>
    <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
  </div>
{% endblock cargando %}
{% block principal %}
  <br>
  <div class="collapse barra_busqueda" id="barra_busqueda">
    <div class="panel panel-primary">
      <div class="panel-heading"> PARÁMETROS DE BÚSQUEDA</div>
      <div class="panel-body">
        <div class="col-sm-12">
          <form class="form" accept-charset="UTF-8" role="form" autocomplete="off" id="formBusqueda" action="" method="post">
            {% csrf_token %}
            <div class="col-xs-12 cerca">

                <div class="col-sm-2">{% bootstrap_field form.estado  %}</div>
                <div class="col-sm-1">{% bootstrap_field form.fdesde  %}</div>
                <div class="col-sm-1">{% bootstrap_field form.fhasta  %}</div>
                <div class="col-sm-1">{% bootstrap_field form.fcontrol  %}</div>
                <div class="col-sm-4">{% bootstrap_field form.empresa  %}</div>
                <div class="col-sm-3">{% bootstrap_field form.tipo_ausentismo  %}</div>
           
                <div class="col-sm-3">{% bootstrap_field form.empleado  %}</div>
                <div class="col-sm-3">{% bootstrap_field form.aus_grupop  %}</div>
                <div class="col-sm-3">{% bootstrap_field form.aus_diagn  %}</div>
                <div class="col-sm-2">{% bootstrap_field form.agrupamiento  %}</div>
                <div class="col-sm-1"><button class="btn btn-xs text-center" type="submit">Buscar</button></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
  {% if 'aus_abm' in permisos_grupo %}
    <div class="btn-group " style="float:left;margin-right:20px;margin-bottom:0px;">
      <a class="btn btn-xs btn-primary" style="float:left;margin-right:10px;;margin-bottom:5px;" href="{% url 'ausentismo_nuevo' %}" >Nuevo Ausentismo/Control</a>
      <button class="btn btn-xs btn-danger" value="" style="float:left;margin-right:10px;;margin-bottom:5px;" id="btnEliminar">Eliminar</button>
      
      <button class="btn btn-xs btn-primary" id="btnImprimirInforme" style="float:left;margin-right:10px;;margin-bottom:5px;" >Generar Informe</button>
      <button class="btn btn-xs btn-primary" id="btnInforme" style="float:left;margin-bottom:5px;" > Enviar Informe</button>
    </div>
  {% endif %}
  
  <table width="100%" id="ausentismos" style="display:none;" class="table table-striped compact table-hover table-no-bordered tabla_nueva text-nowrap">
    <thead >
      <tr>
        <th class="no-sort text-center" data-priority="1">#</th>
        <th class="no-sort text-center" data-priority="2"><input type="checkbox" id="checkall" title="Seleccionar Todas"/></th>
        <th class="imprimir" data-priority="2">F.Cron.Desde</th>
        <th class="imprimir" data-priority="3">F.Cron.Hasta</th>
        <th class="imprimir" width"5%" data-priority="4">DíasCaídos</th>
        <th class="imprimir" data-priority="5">Documento</th>
        <th class="imprimir" data-priority="6">Apellido y Nombre</th>
        <th class="imprimir" data-priority="7">F.Próx.Control</th>
        <th class="imprimir" data-priority="8">Empresa</th>
        <th class="imprimir" data-priority="9">Tipo Ausentismo</th>
        <th class="imprimir" data-priority="11">Grupo Patologico</th>
        <th class="imprimir" data-priority="10">Diagnóstico</th>
        <th class="imprimir" data-priority="6">F.Modif.</th>
        <th class="imprimir" data-priority="6">F.Reintegro</th>
        <th class="imprimir" data-priority="6">F.Carga</th>
        <th class="imprimir" data-priority="6">Tipo Acc./Enf.</th>
      </tr>
    </thead>
    <tbody>
      {% for a in ausentismos %}
        <tr
          {% if a.baja %}
            class='danger'
          {% endif %}>
          
          <td>
            <div class="btn-group">
              <button type="button" title="{{ a.pk|safe}}" class="btn btn-xs color_barra" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"> </i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'ausentismo_detalles' id=a.pk %}" class="modal-detail" data-modal-head="DETALLE AUSENTISMO">
                <i class=" icon-screen-desktop"></i> Detalle</a></li>
                {% if 'aus_abm' in permisos_grupo %}
                  <li>
                    <a href="{% url 'ausentismo_editar' id=a.pk %}"  title="Editar"><i class="icon-note"></i> Editar</a>
                  </li>
                  <li>  
                    <a href="#"onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA ELIMINAR EL REGISTRO ACTUAL?',transition:'fade','onok': function(){ window.location.href = '{% url 'ausentismo_eliminar' id=a.pk  %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('ELIMINAR AUSENTISMO'); alerta.show(); return true;" ><i class="icon-trash"></i></i>Eliminar</a>
                  </li>
             
                <li class="divider"></li>
                <li> <a href="{% url 'ausencias_cargar_control' id=a.pk %}"  class="modal-create " title="Cargar Control" data-modal-callback="reload" data-modal-head="CARGA NUEVO CONTROL"data-modal-target="#object-{{ a.pk }}"><i class="icon-note"></i> Cargar Control</a></li>
               <li class="divider"></li>
              {% endif %}
              <li><a href="{% url 'ausentismo_historial' id=a.empleado.pk %}" class="modal-detail" data-modal-head="HISTORIA CLINICA">
              <i class=" icon-screen-desktop"></i> Historia Clínica</a></li>
            </ul>
          </div>
        </td>
        <td class="text-center">
          <input type="checkbox" class="tildado" id="chk_{{forloop.counter0}}" value="{{ a.pk|safe }}" aria-label="chk_{{forloop.counter0}}">
          {% if a.observaciones %}  <i title="{{a.observaciones}}" class="icon-speech icono_seguimiento"></i> {% endif %}
        </td>
        <td>{{ a.get_fcrondesde|date:'d/m/Y' }}</td>
        <td>{{ a.get_fcronhasta|date:'d/m/Y' }}</td>
        <td>{{ a.get_dias_caidos|default_if_none:'' }}</td>
        <td>{{ a.empleado.nro_doc|default_if_none:'' }}</td>
        <td title="{{ a.empleado.apellido_y_nombre|default_if_none:''}}"><a href="{% url 'empleado_detalles' id=a.empleado.id %}"  class="modal-detail" data-modal-head="DETALLE EMPLEADO {{a.empleado.legajo}}" data-modal-callback="reload"><strong>{{ a.empleado.apellido_y_nombre|default_if_none:''|truncatechars:60 }}</strong></a></td>
        <td>{{ a.aus_fcontrol|date:'d/m/Y' }}</td>
        <td title="{{ a.empleado.empresa|default_if_none:''}}">{{ a.empleado.empresa|default_if_none:''|truncatechars:60 }}</td>
        <td>{{ a.get_tipo_ausentismo_display|default_if_none:'' }}</td>
        <td title="{{ a.aus_grupop|default_if_none:''}}">{{ a.aus_grupop|proteger_dato:info_sensible|default_if_none:''|truncatechars:60 }}</td>
        <td title="{{ a.aus_diagn|default_if_none:''}}">{{ a.aus_diagn|proteger_dato:info_sensible|default_if_none:''|truncatechars:60 }}</td>
        <td title="Usuario Creación: {{a.usuario_carga|default_if_none:''}} | Última Modificación: {{a.fecha_modif|date:'d/m/Y'}}">{{ a.fecha_modif|date:'d/m/Y' }}</td>
        <td>{{ a.aus_freintegro|date:'d/m/Y' }}</td>
        <td title="Usuario Creación: {{a.usuario_carga|default_if_none:''}} | Última Modificación: {{a.fecha_modif|date:'d/m/Y'}}">{{ a.fecha_creacion|date:'d/m/Y' }}</td>
        <td >{{ a.get_art_tipo_accidente_display|default_if_none:'' }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tfoot>
    
  </table>
  </div>
<div id="popup" class="modal fade modal-modal" role="dialog"  data-backdrop="static"  data-keyboard="false"></div>
{% endblock principal %}
{% block scripts_js %}
    <script src="{% static 'js/scripts/ausentismos_listado.js'%}?{% now "Ymd"%}" type="text/javascript"></script>
{% endblock scripts_js %}