{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
<fieldset>
    <div class="row cerca">
        <div class="col-sm-12" style="width: 100%; height: 400px; overflow-y: scroll;">
            <div class='form-detalles'>
                    {{ controles_detalle.management_form }}
                    {{ controles_detalle.non_form_errors  }}
                    {% for form2 in controles_detalle.forms %}
                        {% include "ausentismos/formsets/formset_controles.html" with form=form2  %}
                    {% endfor %}
            </div>
        </div>
    </div>
</fieldset>