{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block main %}    
  
<div class=" col-sm-12 "> 
  <div class="row cerca">
            <div class="col-xs-12 col-sm-6">
              <fieldset>
                <legend>DATOS EMPLEADO</legend>
                <table class="table table-striped table-hover table-condensed table-no-bordered">
                  <tbody>
                    <tr>
                      <td  class="titulo">Apellido y Nombre:</td><td colspan="3" id="apellido_y_nombre" class="dato">{{a.empleado}}</td>
                    </tr>
                    <tr>
                      <td class="titulo">Documento:</td><td id="nro_doc" class="dato">29387656</td>
                      <td class="titulo">Nº Legajo:</td><td id="legajo" class="dato">98989898</td>
                    </tr>
                    <tr>
                      <td class="titulo">Fecha Nacimiento:</td><td id="fecha_nac" class="dato">99/99/9999</td>
                      <td class="titulo">Edad:</td><td id="edad" class="dato">99 años</td>
                    </tr>
                    <tr>
                      <td class="titulo">Teléfono/Celular:</td><td id="telcel" class="dato">87979879 / 45456464</td>
                      <td class="titulo">E-mail:</td><td id="email" class="dato"></td>
                    </tr>
                    <tr>
                      <td class="titulo">Dirección:</td><td id="domicilio" class="dato">dasdsadsdasd</td>
                      <td class="titulo">C.P.:</td><td id="cod_postal" class="dato">asdasdasd</td>
                    </tr>
                    <tr>
                      <td class="titulo">Localidad:</td><td id="localidad" class="dato">dasdsadsdasd</td>
                      <td class="titulo">Provincia:</td><td id="provincia" class="dato">asdasdasd</td>
                    </tr>
                    <tr>
                      <td class="titulo">ART:</td><td colspan="3" id="art" class="dato">SANCOR SEGUROS ART</td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>
            <div class="col-xs-12 col-sm-6">
              <fieldset>
                <legend>DATOS LABORALES</legend>
                <table class="table table-striped table-hover table-condensed table-no-bordered">
                  <tbody>
                    <tr>
                      <td  class="titulo">Empresa:</td><td colspan="3" id="empresa" class="dato">COLOME SA</td>
                    </tr>
                    <tr>
                      <td class="titulo">Fecha Ingreso Empresa:</td><td id="empr_fingreso" class="dato">99/99/9999</td>
                      <td class="titulo">Antigüedad Laboral:</td><td id="antig_empresa" class="dato">99 años</td>
                    </tr>
                    <tr>
                      <td  class="titulo">Puesto/Cargo:</td><td colspan="3" id="trab_cargo" class="dato">MEDICO GENERAL</td>
                    </tr>
                    <tr>
                      <td class="titulo">Fecha Ingreso Puesto:</td><td id="trab_fingreso" class="dato">99/99/9999</td>
                      <td class="titulo">Antigüedad Puesto:</td><td id="antig_trabajo" class="dato">99 años</td>
                    </tr>
                    <tr>
                      <td class="titulo">Fecha Cese de Actividad:</td><td <td colspan="3" id="trab_fbaja" class="dato">99/99/9999</td>
                    </tr>
                    <tr>
                      <td class="titulo">¿Portación de Armas?</td><td id="trab_armas" class="dato">NO</td>
                      <td class="titulo">¿Tareas Diferentes?</td><td id="trab_tareas_dif" class="dato">NO</td>
                    </tr>
                    <tr>
                      <td class="titulo">¿Preocupacional?</td><td id="trab_preocupac" class="dato">SI</td>
                      <td class="titulo">Fecha Preocupacional:</td><td id="trab_preocup_fecha" class="dato">99/99/9999</td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>
          </div>
</div>                                 

          
       
{% endblock main %}        

                               