{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n l10n %}
{% load humanize %}
{% load bootstrap3 %}

{% block breadcrumbs %}              
        <div class="breadcrumbs">
            Listado Ausentismos <small> carga e impresión</small>            
            <button tittle="Búsqueda Avanzada" data-toggle="collapse" aria-expanded="true"  class="btn btn-xs btn-circle pull-right boton_busqueda" data-target="#barra_busqueda" aria-controls="barra_busqueda"><i class="glyphicon glyphicon-search"></i></button>
        </div>
{% endblock breadcrumbs %}
{% block cargando %}            
  <div id="cargando" class="cargando" >
    <span class="cargando-txt">CARGANDO...</span>
    <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
  </div>
{% endblock cargando %}
{% block principal %}                            
<br>
      <div class="collapse barra_busqueda" id="barra_busqueda">
          <div class="panel panel-primary">
              <div class="panel-heading"> PARÁMETROS DE BÚSQUEDA</div> 
              <div class="panel-body">
                      <div class="col-md-12">
                       <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                        {% csrf_token %}                                                                                     
                          <div class="col-sm-1">{% bootstrap_field form.fdesde  %}</div>                                
                          <div class="col-sm-1">{% bootstrap_field form.fhasta  %}</div>                                    
                          <div class="col-sm-3">{% bootstrap_field form.empresa  %}</div>                                    
                          <div class="col-sm-2">{% bootstrap_field form.tipo_ausentismo  %}</div>                            
                          <div class="col-sm-2">{% bootstrap_field form.empleado  %}</div>                                            
                          <div class="col-sm-1">{% bootstrap_field form.estado  %}</div>      
                          <div class="col-sm-1"><button class="btn btn-xs text-center" type="submit">Buscar</button></div>                
                        </form>             
                      </div>
              </div>  
          </div>                  
        </div>
       
              
       
     
        <a class="btn btn-xs btn-primary" style="float:left;margin-right:20px;" href="{% url 'ausentismo_nuevo' %}" >Cargar Ausentismo</a>
        <table width="100%" id="ausentismos" style="display:none;" class="table table-striped compact table-hover table-no-bordered tabla_nueva text-nowrap">         
            <thead >
                <tr>
                    <th class="no-sort text-center" data-priority="1">#</th>
                    <th class="imprimir" data-priority="2">F.Carga</th>
                    <th class="imprimir" data-priority="2">Documento</th>
                    <th class="imprimir" data-priority="3">Apellido y Nombre</th>
                    <th class="imprimir" data-priority="4">F.Control</th>
                    <th class="imprimir" data-priority="5">Empresa</th>
                    <th class="imprimir" data-priority="6">Tipo Ausentismo</th>
                    <th class="imprimir" data-priority="7">Días Caídos</th>
                    <th class="imprimir" data-priority="8">F.Desde</th>
                    <th class="imprimir" data-priority="9">F.Hasta</th>
                    <th class="imprimir" data-priority="10">Patología</th>
                    <th class="imprimir" data-priority="11">Diagnóstico</th>
                </tr>
            </thead>
            <tbody>
                {% for a in ausentismos %}
                <tr
                 {% if a.baja %}
                    class='danger'
                 {% endif %}>
                    
                    <td><div class="btn-group">
                          <button type="button" title="{{ a.pk|safe}}" class="btn btn-xs color_barra" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"> </i> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'ausentismo_detalles' id=a.pk %}" class="modal-detail" data-modal-head="DETALLE AUSENTISMO">
                            <i class=" icon-screen-desktop"></i> Detalle</a></li>
                            
                            <li><a href="{% url 'ausentismo_editar' id=a.pk %}"  title="Editar"><i class="icon-note"></i> Editar</a></li>

                            <li><a href="#" 
                                    onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA DAR DE BAJA/REACTIVAR EL REGISTRO ACTUAL?',transition:'fade','onok': function(){ window.location.href = '{% url 'ausentismo_baja_alta' id=a.pk  %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('BAJA/REACTIVAR'); alerta.show(); return true;" ><i class="icon-dislike"></i><i class="icon-like"></i>Baja/Reactivar</a>
                                </li>     
                          </ul>                                      
                        </div>
                    </td>              
                    <td title="Usuario Creación: {{a.usuario_carga|default_if_none:''}} | Última Modificación: {{a.fecha_modif|date:'d/m/Y'}}">{{ a.fecha_creacion|date:'d/m/Y' }}</td>
                    <td>{{ a.empleado.nro_doc|default_if_none:'' }}</td>
                    <td title="{{ a.empleado.apellido_y_nombre|default_if_none:''}}"><a href="{% url 'empleado_detalles' id=a.empleado.id %}"  class="modal-detail" data-modal-head="DETALLE EMPLEADO {{a.empleado.legajo}}" data-fm-callback="reload"><strong>{{ a.empleado.apellido_y_nombre|default_if_none:''|truncatechars:60 }}</strong></a></td>
                    <td>{{ a.get_fcontrol|date:'d/m/Y' }}</td>
                    <td title="{{ a.empleado.empresa|default_if_none:''}}">{{ a.empleado.empresa|default_if_none:''|truncatechars:60 }}</td>
                    <td>{{ a.get_tipo_ausentismo_display|default_if_none:'' }}</td>               
                    <td>{{ a.get_dias_caidos|default_if_none:'' }}</td>               
                    <td>{{ a.get_fcrondesde|date:'d/m/Y' }}</td>               
                    <td>{{ a.get_fcronhasta|date:'d/m/Y' }}</td>               
                    <td title="{{ a.aus_grupop|default_if_none:''}}">{{ a.aus_grupop|default_if_none:''|truncatechars:60 }}</td>               
                    <td title="{{ a.aus_diagn|default_if_none:''}}">{{ a.aus_diagn|default_if_none:''|truncatechars:60 }}</td>               
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th> 
                    <th></th> 
                    <th></th>
                    <th></th> 
                    <th></th>
                    <th></th> 
                    <th></th>  
                    <th></th>                                
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            
        </table>                   
    

{% endblock principal %}

{% block scripts_js %}     
<script type="text/javascript">

$(document).ready(function() { 
   
moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 

$.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
 $('.datepicker').datepicker({
        format: "dd/mm/yyyy",
        language: "es",
        autoclose: true,
        todayHighlight: true
  });

  $('.datepicker').each(function(){
      $(this).datepicker();
  });

var tabla = $('#ausentismos').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                 
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ãšltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": ".",                
            },                      
           
         "columnDefs": [ {
                  "targets"  : 'no-sort',
                  "orderable": false,
                }],          
           "paging":   true,
           "lengthMenu": [[20, 50, -1], [20, 50, "Todos"]],
           "autoWidth": false,
           "order": [],
           "colReorder": true,
           "searching": true,
            fixedHeader: {
              header: false,
              footer: false
              },
            responsive: true,            
            dom: 'Bfrtlip',
            buttons: [
                {
                    extend:    'colvis',
                    text:      '<i class="fa fa-list"></i>',
                    titleAttr: 'Ver/Ocultar',
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'copyHtml5',
                    text:      '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copiar',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    filename: 'AUSENTISMOS.',                    
                    exportOptions: {  modifier: {
                                        page: 'current'
                                    }, 
                                      columns: '.imprimir',
                                      format: {
                                      body: function(data, row, column, node) {
                                        var floatVal = function (i) {
                                            if (typeof i === "number") {
                                                return i;
                                            } else if (typeof i === "string") {
                                                i = i.replace(/\$/g, "");
                    i = i.replace(/\,/g ,"");                    
                    i = i.replace(/\./g, "");
                                                var result = parseFloat(i)/100;
                                                // console.log(result);
                                                if (isNaN(result)) {
                                                    try {
                                                        var result = $jq(i).text();
                                                        result = parseFloat(result);
                                                        if (isNaN(result)) { result = 0 };
                                                        return result * 1;
                                                    } catch (error) {
                                                        return 0;
                                                    }
                                                } else {
                                                    return result * 1;
                                                }
                                            } else {
                                                alert("Unhandled type for totals [" + (typeof i) + "]");
                                                return 0
                                            }
                                        };
                                          data = $('<p>' + data + '</p>').text();
                                          return (node.className=='importe') ? floatVal(data)  : data;
                                      }
                                    }},
                    className: 'btnToolbar',     
                },
               
                {
                    extend:    'pdfHtml5',
                    text:      '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',footer: true,
                    exportOptions: { columns: '.imprimir'},
                    orientation: 'landscape',
                    className: 'btnToolbar',                    
                },
                {
                    extend: 'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Imprimir',
                    exportOptions: { columns: '.imprimir' },
                    className: 'btnToolbar',                    
                },
            ],
            PreDrawCallback:function(){
            $("#cargando").show();
            },
            initComplete: function () {
               // this.api().columns().every( function () {[0, 1, 9]
                this.api().columns([5,6,10,11]).every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">Todos</option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
     
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );
     
                     column.data().unique().sort().each( function ( d, j ) {
                    //column.cells('', column[0]).render('display').sort().unique().each( function ( d, j ){
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
                $("#ausentismos").show();
                  this.fnAdjustColumnSizing();
                $("#cargando").hide();
            },
            footerCallback: function ( row, data, start, end, display ) {
            var api = this.api(), data;
            var floatVal = function (i) {
                if (typeof i === "number") {
                    return i;
                } else if (typeof i === "string") {
                    i = i.replace(/\$/g, "");
                    i = i.replace(/\,/g ,"");                    
                    i = i.replace(/\./g, "");                    
                    var result = parseFloat(i)/100;
                    
                    if (isNaN(result)) {
                        try {
                            var result = $jq(i).text();
                            result = parseFloat(result);
                            if (isNaN(result)) { result = 0 };
                            return result * 1;
                        } catch (error) {
                            return 0;
                        }
                    } else {
                        return result * 1;
                    }
                } else {
                    alert("Unhandled type for totals [" + (typeof i) + "]");
                    return 0
                }
            };
                        
            
            pageTotal = api.column(7, { page: 'current'} ).data().reduce( function (a, b) {return parseFloat(a) + parseFloat(b);}, 0 );            
            $( api.column(7).footer() ).html(pageTotal.toLocaleString(undefined,{minimumFractionDigits:0}));
          
        }
        });




});
</script> 
{% endblock scripts_js %}



