{% load static from staticfiles %}
{% load bootstrap3 %}
{% load humanize %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/comprobantes.css'%}?{% now "Ymd"%}" type="text/css" >  
{% endblock %}
         
  <div id="enviando" class="cargando" >
    <span class="cargando-txt">ENVIANDO...</span>
    <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
  </div>

<div class="modal-dialog modal-content">
               <div class="modal-wrapper">
                 <div data-dismiss="modal" class="close-modal">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>        
                        </div>
                 <div class="modal-head">                        
                        INFORME DE AUSENTISMOS
                </div>
                <div id="form-container">
                <form role="form" target="_blank" autocomplete="off" class="form" method="POST" action="{% url 'imprimir_informe' %}" id="form-imprimirinforme">
                {% csrf_token %}  
                <div class="modal-body">                        
                    <div class="col-xs-12">
                      <div class="row">                    
                        <div class="col-sm-2">{% bootstrap_field form.fecha %}</div>                                              
                        <div class="col-sm-10">{% bootstrap_field form.observaciones %}</div>                      
                     </div>      
                    </div>        
                </div>
                <div class="modal-buttons">
                      <div class="row">
                          <div class="col-xs-12"> 
                            <button data-dismiss="modal" class="btn btn-sm pull-left btn btn-danger" type="button">
                                <i class="fa fa-times"></i>Cancelar</button>
                                <button id="imprimir" type="submit" class="btn pull-right btn-sm btn-primary"><i class="fa fa-check"></i>Aceptar</button>
                          </div>
                      </div>
                 </div>
                </form>
                 </div>
          </div>
     <script type="text/javascript">
          $("#enviando").hide();        
          
         

    </script>

    

</div>