{% load static from staticfiles %}
{% load humanize %}
{% load filtros_especiales %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>INFORME AUSENTISMOS</title>
<link rel="stylesheet" href="{% static 'css/reportes_factura.css' %}" type="text/css" />
<style type="text/css">


 @page {
         margin: 4cm 0.5cm 1cm 0.5cm;
         padding: 0;     
         background-image:url({% static 'img/contenido.jpg' %});    
         @frame footer {
                        -pdf-frame-content: page-footer;
                        bottom: 0cm;
                        height: 1 cm;
                        margin-right: 0.5cm;                        
                        margin-left: 0.5cm;                        
                    }
          @frame header_frame  {
                        -pdf-frame-content: page-header;
                        margin-top: 3cm;
                        margin-right: 1cm;                        
                        margin-left: 1cm;
                        margin-bottom: 1cm;
                        height: 4cm;                      
                    }
        
         }
              
</style>
</head>

<body>  

<div id="page-header">
<table width="100%" align="center" >

   <tr>
    <td  colspan="3" class="nombre_cpb">INFORME DE AUSENTISMOS</td>
  </tr>
</table>
</div>

<table class="tabla" width="100%" border="0" cellspacing="0" >
  
  {% for a in ausencias %}
    <tr class="" >     
     <td  width="15%" class="tabla_header texto_der borde_izq borde_arriba borde_der">Apellido y Nombre:</td><td colspan="5" width="60%"class="borde_der borde_arriba"><strong>{{a.empleado|default_if_none:''|upper}}</strong></td>
     <td width="15%" class="tabla_header texto_der borde_arriba borde_der">Fecha Cron.Desde:</td><td width="10%" class="borde_der borde_arriba">{{a.aus_fcrondesde|date:'d/m/Y'}}</td>          
    </tr>
    <tr class="" >
      <td class="tabla_header texto_der borde_der borde_izq borde_arriba">Gerencia:</td><td colspan="5" class="borde_der borde_arriba" >{{a.empleado.empresa|default_if_none:''|upper}} {% if a.empleado.trab_cargo %} ({{a.empleado.trab_cargo}}){% endif %}</td>
      <td class="tabla_header texto_der borde_arriba borde_der">Fecha Cron.Hasta:</td><td class="borde_der borde_arriba">{{a.aus_fcronhasta|date:'d/m/Y'}}</td>
    </tr>   
    <tr class="" >
      <td class="tabla_header texto_der borde_der borde_arriba borde_izq">Tipo Ausentismo:</td><td colspan="5" width="60%" class="borde_der borde_arriba" >{{ a.get_tipo_ausentismo_display|default_if_none:''|upper }}</td>
      <td class="tabla_header texto_der borde_arriba borde_der">Días:</td><td width="10%" class="borde_der borde_arriba">{{a.aus_diascaidos|default_if_none:'0'}}</td>     
    </tr>
    {% if info_sensible %}
      <tr class="" >
      <td class="tabla_header texto_der borde_der borde_arriba borde_izq">Diagnóstico:</td><td colspan="7" width="60%" class="borde_der borde_arriba" >{{a.aus_diagn|default_if_none:''|upper}} </td>
    </tr>
    {% endif %}
    <tr class="" >     
     <td width="15%" class="tabla_header texto_der borde_abajo borde_izq borde_arriba borde_der">Fecha Certificado:</td><td width="20%" class="borde_der borde_arriba borde_abajo">{{a.aus_fcertif|date:'d/m/Y'}}</td>
     <td width="13%" class="tabla_header texto_der borde_abajo borde_arriba borde_der">Corta Certificado:</td><td width="5%" class="texto_cen borde_der borde_arriba borde_abajo">{{a.aus_corta_certificado|default_if_none:''|upper }}</td>
     <td  width="13%" class="tabla_header texto_der borde_abajo borde_arriba borde_der">Fecha Reintegro:</td><td width="10%" class="borde_der borde_arriba borde_abajo">{{a.aus_freintegro|date:'d/m/Y'}}</td>
     <td  class="tabla_header texto_der borde_arriba borde_abajo borde_der">Fecha Próx.Control:</td><td width="10%" class="borde_der borde_arriba borde_abajo">{{a.aus_fcontrol|date:'d/m/Y'}}</td>     
    </tr>
    {% if a.get_ultimo_control and info_sensible %}
    <tr class="" >     
     <td class="tabla_header texto_der borde_izq borde_arriba borde_der borde_abajo">Detalles Control:</td><td colspan="7" class="borde_der borde_arriba borde_abajo"><b>Fecha: {{a.get_ultimo_control.fecha|date:'d/m/Y'}}</b> - <b>Tipo: {{a.get_ultimo_control.get_tipo_control_display|default_if_none:''}}</b><br/> {{a.get_ultimo_control.detalle|default_if_none:''}}</td>
    </tr>
    {% endif %}
    <tr class="" >
     <td width="100%" colspan="6"class=""></td>      
    </tr>   
  
  {% endfor %}
{% if info_sensible %}
    <tr class="" >
     <td width="100%" colspan="8" class="texto_der"><strong>{{cant}}</strong> Ausentismos en total.</td>
{% endif %}
  </tr>    
  </table>  
  {% if observaciones_finales and info_sensible %}
  <table class="tabla" width="100%" border="0" cellspacing="0">
  <tr class="" >
     <td width="100%" colspan="2"class=""></td>      
  </tr>   
  <tr class="" >
     <td width="17%" class="tabla_header texto_der borde_izq borde_arriba borde_abajo borde_der">Observaciones Informe:</td>      
     <td width="83%" class="borde_der borde_arriba borde_abajo">{{observaciones_finales|default_if_none:''}}</td>      
  </tr>   
  </table>
  {% endif %}


<div id="page-footer">
  <table class="tabla" width="100%" border="0" cellspacing="0">
    <tr>
      <td width="90%" class="pie_sistema"><img alt="" class="pie_logo" src="{% static 'img/loguito.jpg' %}"/>&nbsp;&nbsp;Laboral Salud - {{fecha|date:'d/m/Y'}} </td>
      <td width="10%" class="pie_texto"><pdf:pagenumber /> de <pdf:pagecount/> </td>
    </tr>
  </table>    
</div>

</body>
</html>
