<div class="row cerca">	
		       	  					<label class="control-label col-sm-3 col-xs-12">Apellido y Nombre:</label>
									<div class="col-sm-9 col-xs-12">
										{{ form.apellido_y_nombre|as_crispy_field }}
									</div>		
						        </div>
						        <div class="row cerca">	
		       	  					<label class="control-label col-sm-3 col-xs-12">Documento:</label>
									<div class="col-sm-4 col-xs-12">
										{{ form.nro_doc|as_crispy_field }}
									</div>
									<label class="control-label col-sm-2 col-xs-12">Legajo:</label>
									<div class="col-sm-3 col-xs-12">
										{{ form.legajo|as_crispy_field }}
									</div>			
						        </div>