{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block main %}    
<div class="row cerca">  
  <div class=" col-xs-12 "> 
  <fieldset>
    <table class="table table-striped table-hover table-condensed table-no-bordered tabla_detalle">
      <tbody>
      <tr>
        <td  class="titulo">Razón Social:</td><td colspan="3">{{e.razon_social|default_if_none:''}}</td>
      </tr>
      <tr>
        <td class="titulo">CUIT:</td><td>{{e.cuit|default_if_none:''}}</td>
        <td class="titulo">Cantidad Empleados:</td><td>{{e.cant_empleados|default_if_none:''}}</td>
      </tr>
      <tr>
        <td  class="titulo">Rubro:</td><td>{{e.rubro|default_if_none:''}}</td>
        <td class="titulo">Casa Central:</td><td>{{e.casa_central|default_if_none:''}}</td>
      </tr>
      <tr>
        <td  class="titulo">Domicilio:</td><td colspan="3">{{e.get_domicilio|default_if_none:''}}</td>
      </tr>
      <tr>
        <td class="titulo">Condic.IVA:</td><td>{{e.get_fact_categFiscal_display|default_if_none:''}}</td>
        <td class="titulo">IIBB:</td><td>{{e.iibb|default_if_none:''}}</td>      
      </tr>
      <tr>
        <td class="titulo">Teléfono/Celular:</td><td>{{e.telefono|default_if_none:''}} / {{ e.celular|default_if_none:'' }}</td>      
        <td class="titulo">E-mail:</td><td>{{ e.email|default_if_none:'' }}</td>
      </tr>

      <tr>
        <td class="titulo">ART:</td><td colspan="3">{{e.art|default_if_none:''}}</td>            
      </tr>
      <tr>
        <td class="titulo">Médico/Prof:</td><td colspan="3">{{e.medico_prof|default_if_none:''}}</td>            
      </tr>
      <tr>
        <td class="titulo">Contacto:</td><td >{{e.contacto_nombre|default_if_none:''}} </td>            
        <td class="titulo">Email:</td><td>{{e.contacto_email|default_if_none:''}}</td>
      </tr>
      <tr>
        <td class="titulo">Tel.:</td><td >{{e.contacto_tel|default_if_none:''}} </td>            
        <td class="titulo">Cargo/Profesión:</td><td>{{e.contacto_cargo|default_if_none:''}} / {{e.contacto_profesion|default_if_none:''}}</td>
      </tr>
      <tr>
        <td class="titulo">Detalle/Observaciones:</td><td colspan="3">{{e.observaciones|default_if_none:''}} </td>            
      </tr>
      <tr>
        <td class="titulo">Agrupamiento/Sector:</td><td colspan="3">{{e.agrupamiento|default_if_none:''}}</td>
      </tr>

      </tbody>
    </table>
  </fieldset>
  </div>                                 
</div>                 

          
<div class="modal-buttons">
    <div class="row">
        <div class="col-xs-6">
         <button data-dismiss="modal" class="btn btn-sm pull-left btn btn-danger" type="button">
              <i class="fa fa-times"></i>Cerrar
         </button>
        </div>              
      </div>    
</div>       
{% endblock main %}        

                               