{% load static from staticfiles %}
{% load i18n %}
<nav class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href="#">
        <img src="{% static 'img/loguito.jpg' %}"class="brand-image img-circle elevation-3"
           style="opacity: .8"> LBS</a>
    </div>
    <!-- Group the nav links, forms, drop-down menus and other elements for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="{% url 'ausentismo_listado' %}">Ausentismos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entidades <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'empleado_listado' %}">Empleados</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'art_listado' %}">ARTs</a></li>
            <li><a href="{% url 'empresa_listado' %}">Empresas</a></li>
            <li><a href="{% url 'medico_prof_listado' %}">Médicos/Profesionales</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'cargo_listado' %}">Cargos</a></li>
            <li><a href="{% url 'especialidad_listado' %}">Especialidades</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> USUARIO DEMO <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

</nav>
  