{% load static from staticfiles %}
{% load i18n %}
<nav class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href="{% url 'principal' %}">
        <img src="{% static 'img/logo.jpg' %}"class=" img-circle brand-image">
        <span>Laboral Salud</span></a>
    </div>

    <!-- Group the nav links, forms, drop-down menus and other elements for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="{% url 'principal' %}">Inicio</a></li>        
        {% if permisos_empelados %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión Empleados<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if 'empl_pantalla' in permisos_grupo %}
            <li><a href="{% url 'empleado_listado' %}">Empleados</a></li>
            <li class="divider"></li>
            {% endif %}
            {% if 'aus_pantalla' in permisos_grupo %}
            <li><a href="{% url 'ausentismo_listado' %}">Ausentismos</a></li>
            <li class="divider"></li>
            {% endif %}
            {% if 'turnos_pantalla' in permisos_grupo %}
            <li><a href="{% url 'turnos_listado' %}">Gestión Turnos</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% if permisos_indicadores %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Indicadores <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if 'indic_pantalla' in permisos_grupo %}
            <li><a href="{% url 'reporte_resumen_periodo' %}">Resúmen Período</a></li>
            <li class="divider"></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% if permisos_configuracion %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if 'art_pantalla' in permisos_grupo %}
            <li><a href="{% url 'art_listado' %}">ARTs</a></li>
            {% endif %}
            {% if 'emp_pantalla' in permisos_grupo %}
            <li><a href="{% url 'empresa_listado' %}">Empresas</a></li>
            {% endif %}
            {% if 'med_pantalla' in permisos_grupo %}
            <li><a href="{% url 'medico_prof_listado' %}">Médicos/Profesionales</a></li>
            {% endif %}
            {% if 'pat_pantalla' in permisos_grupo %}
            <li class="divider"></li>
            <li><a href="{% url 'patologia_listado' %}">Patologías</a></li>
            {% endif %}
            {% if 'diag_pantalla' in permisos_grupo %}
            <li><a href="{% url 'diagnostico_listado' %}">Diagnósticos</a></li>
            <li class="divider"></li>
            {% endif %}
            {% if 'ptrab_pantalla' in permisos_grupo %}
            <li><a href="{% url 'cargo_listado' %}">Cargos/Puestos de Trabajo</a></li>
            {% endif %}
            {% if 'esp_pantalla' in permisos_grupo %}
            <li><a href="{% url 'especialidad_listado' %}">Especialidades</a></li>            
            {% endif %}
            
          </ul>
        </li>
        {% endif %}
      </ul>
      
        
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{usuario}}  <i class="icon-user"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="cambiar_passwd" href="#">Cambiar Contraseña</a></li>
            <li class="divider"></li>
            {% if esAdmin %}
            <li><a href="{% url 'usuarios' %}">Configurar Usuarios</a></li>                           
            <li class="divider"></li>
            <li><a href="#">Configuración General</a></li>
            <li class="divider"></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Salir</a></li>
          </ul>
        </li>
      </ul>

      <div class="navbar-header navbar-right">
        <span class="titulo_empresa">{% if esAdmin %}ADMINISTRADOR{% else %}{{empresa}} {% endif %}</span>
      </div>
    </div><!-- /.navbar-collapse -->

</nav>
  