
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

<div id="form-container">
    <form role="form" class="form" id="form-alta" method="POST" action="" enctype="multipart/form-data">
     {% csrf_token %}    
        <div class="col-xs-12">
	         <div class="row">
                <label class="control-label col-sm-6">Ingrese su nueva Contraseña (sin espacios):</label>
                <div class="col-sm-3">{% bootstrap_field form.password show_label=False %}</div>                 
             </div>  
		</div>
		 {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}	       

<div class="modal-buttons">
    <div class="row">
        <div class="col-xs-6">
         <button data-dismiss="modal" class="btn btn-sm pull-left btn btn-danger" type="button">
              <i class="fa fa-times"></i> {% trans 'Cancelar' %}
         </button>
        </div>
        <div class="col-xs-6">
         <button  class="btn pull-right btn-sm btn-primary" id="Aceptar" type="button" 
                onclick="this.disabled=true;$('#form-alta' ).submit();">
              <i class="fa fa-check"></i>{% trans 'Aceptar' %}</button>
        </div>
      
      </div>
    
</div>
</form> 
</div>




