{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}



<div id="form-container">
    <form role="form" class="form abm" autocomplete="off" method="POST" action="" id="form-alta" enctype="multipart/form-data">
     {% csrf_token %}         
        <div class="col-xs-12">
	         	<div class="row">										
					<div class="col-sm-5">{% bootstrap_field form.empresa %}</div>											
					<div class="col-sm-7">{% bootstrap_field form.empleado %}</div>										
			  	</div>								
			  	<div class="row">										
			  		<div class="col-sm-2">{% bootstrap_field form.fecha %}</div>											
			  		<div class="col-sm-2">{% bootstrap_field form.hora %}</div>
					<div class="col-sm-5">{% bootstrap_field form.detalle %}</div>										
					<div class="col-sm-3">{% bootstrap_field form.estado %}</div>																		  					
			  	</div>
			  	<div class="row">										
					<div class="col-sm-12">{% bootstrap_field form.observaciones %}</div>																		  
			  	</div>
			  										
		</div>
		 {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}	       
		 <div class="modal-buttons">
    <div class="row">
        <div class="col-xs-6">
         <button data-dismiss="modal" class="btn btn-sm pull-left btn btn-danger" type="button">
              <i class="fa fa-times"></i> {% trans 'Cancelar' %}
         </button>
        </div>
        <div class="col-xs-6">
         <button class="btn pull-right btn-sm btn-primary" id="Aceptar" type="button">
              <i class="fa fa-check"></i>{% trans 'Aceptar' %}</button>
        </div>
      
      </div>
    

</div>

</form>	
</div>

{% block scripts_js %}
 <script src="{% static 'js/scripts/turnos.js' %}" type="text/javascript"></script>
{% endblock %}
